.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  @extend%rubik-400;
  font-size: 20px;
  line-height: 1.5;
  color: $default;
  background-color: #f9faff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;

}

.btn {
  line-height: 1.3;
  color: $text;
  letter-spacing: 0.03em;
  background-color: $accent;
}

.link-active {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $title;

  &:focus {
    box-shadow: 0 0 0 2px $accent 0.7;
    background-color: $text 0.01;
    border-radius: 5px;
  }

  &:hover {
    color: $accent;
    text-decoration: none;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $default;
  }

}

.title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  @extend%rubik-500;
  line-height: 1.3;
  color: $title;
  @include line-clamp(2);

  @include mq("tablet") {
    font-size: 24px;
    margin-bottom: 40px;
  }

  @include mq("phone") {
    font-size: 24px;
    margin-bottom: 30px;
  }

}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.active-elm {
  border-radius: 5px;
  transition: background-color, color 0.4s;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    background-color: rgba(255, 104, 56, 0.1);
    color: $accent;
    fill: $accent;
  }

  &:hover {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7), 0 5px 12px 0 rgba(255, 104, 56, 0.2);
    color: $accent;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $accent;
  }

  &:active {
    background-color: rgba(255, 104, 56, 0.1);
    color: $accent;
    box-shadow: none;
    fill: $accent;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #eeeff3;
  margin-top: 25px;
  margin-bottom: 50px;
}